@model Luma.Models.Project

@{
    ViewBag.Title = @Model.Project_Name;
    ViewBag.ProjectId = @Model.Id;
}

<div id="tasks">
    <div id="top-tasks">
        <!-- Project Info -->
        <div id="title-tasks">
            <div>
                <h1>@Model.Project_Name</h1>
                @if (ViewBag.ShowButtons)
                {
                    <div>
                        <a asp-controller="Projects" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>

                        <form method="post" asp-controller="Projects" asp-action="Delete" asp-route-id="@Model.Id">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                }
            </div>
            <p>Organizer: @ViewBag.OrganizerName</p>
        </div>

        <!-- Members Info -->
        <div id="members-tasks">
            <h2>@ViewBag.NumberOfMembers Members</h2>
            <div>
                @if (ViewBag.ShowButtons)
                {
                    <a asp-controller="Projects" asp-action="AllUsers" asp-route-projectId="@Model.Id">Manage Members</a>
                }
            </div>
        </div>
    </div>

    <div id="bottom-tasks">
        @await Html.PartialAsync("_TaskColumn", Tuple.Create("To do", "To do", ViewBag.ToDoTasks as IEnumerable<Luma.Models.Task>))
        @await Html.PartialAsync("_TaskColumn", Tuple.Create("In progress", "In progress", ViewBag.InProgressTasks as IEnumerable<Luma.Models.Task>))
        @await Html.PartialAsync("_TaskColumn", Tuple.Create("Done", "Done", ViewBag.DoneTasks as IEnumerable<Luma.Models.Task>))
    </div>
</div>
