@model Luma.Models.Task

@{
    ViewData["Title"] = "Task Details";
    var usersWithinTask = ViewBag.UsersWithinTask;
}

<div id="task-details">
    <div id="top-task">
        <div id="title-task">
            <div>
                <h1>@Model.Title</h1>
                <p>@Model.Description</p>
                <p>Status: @Model.Status</p>
                <p>Start Date: @Model.Start_Date.ToShortDateString()</p>
                <p>End Date: @Model.End_Date.ToShortDateString()</p>
            </div>
            @if (ViewBag.ShowButtons)
            {
                <div id="task-crud">
                    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>

                    <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
                        <button type="submit">Delete</button>
                    </form>
                    <a asp-controller="Tasks" asp-action="Index" asp-route-projectId="@Model.ProjectId" class="back-link">Back to Project</a>
                </div>
            }
        </div>
        <div id="media-task">
            @if (@Model.Media != null)
            {
                @if (@Model.Media.Contains(".mp4") || @Model.Media.Contains(".mov"))
                {
                    <video controls>
                        <source src="@Model.Media" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                }
                else
                {
                    <img id="media-img" src="@Model.Media" alt="task media" />
                }
            }
        </div>
    </div>

    <div id="task-content">
        <div id="comments-section">
            <h3>Comments:</h3>
            @foreach (var comm in ViewBag.Comments)
            {
                <div class="comment">
                    <div>
                        <h4>@comm.Text</h4>
                        <p>@comm.UserName</p>
                        <small>@comm.Date</small>
                    </div>
                    @if (comm.IsCurrentUserComment)
                    {
                        <div class="comment-actions">
                            <a asp-controller="Comments" asp-action="Edit" asp-route-id="@comm.Id">Edit</a>
                            <form method="post" asp-controller="Comments" asp-action="Delete" asp-route-id="@comm.Id">
                                <button type="submit">Delete</button>
                            </form>
                        </div>
                    }
                </div>
            }

            <form method="post" asp-controller="Comments" asp-action="New" id="add-comment-form">
                <input type="hidden" name="TaskId" value="@Model.Id" />
                <textarea name="Text" placeholder="Add a comment"></textarea>
                <button type="submit">Add comment</button>
            </form>
        </div>
        <div id="members-task">
            <div>
                <h2>Members:</h2>
                @foreach (var userInfo in usersWithinTask)
                {
                    @if (userInfo.IsAssignedToTask)
                    {
                        <p>@userInfo.User.Email</p>
                    }
                }
            </div>
            @if (ViewBag.ShowButtons)
            {
                <a id="manage-task-members" asp-controller="Tasks" asp-action="AllUsers" asp-route-taskId="@Model.Id">Manage Members</a>
            }
        </div>
    </div>
</div>
