@model Luma.Models.Task

@{
    ViewData["Title"] = "Task Details";
    var usersWithinTask = ViewBag.UsersWithinTask;
}

<div class="card">
    <div class="card-body">
        <h2>@Model.Title</h2>
        <p>@Model.Description</p>
        <p>Status: @Model.Status</p>
        <p>Start Date: @Model.Start_Date.ToShortDateString()</p>
        <p>End Date: @Model.End_Date.ToShortDateString()</p>
        <p>Project: @Model.Project?.Project_Name</p>
    </div>
    @if (ViewBag.ShowButtons)
    {
        <div class="mt-3">
            <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>

            <form asp-action="Delete" asp-route-id="@Model.Id" method="post" style="display:inline;">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    }
</div>

<h3>Members: </h3>
<div class="list-group">
    @foreach (var userInfo in usersWithinTask)
    {
        <div>
            @if (userInfo.IsAssignedToTask)
            {
                <p>@userInfo.User.Email</p>
            }
        </div>
    }
    @if (ViewBag.ShowButtons)
    {
        <a class="btn btn-success" asp-controller="Tasks" asp-action="AllUsers" asp-route-taskId="@Model.Id">Manage Members</a>
    }
</div>

<h3>Status: </h3>
<form asp-action="UpdateStatus" asp-route-id="@Model.Id" method="post" style="display:inline;">
    <button type="submit" name="status" value="To do" class="btn btn-secondary">To do</button>
    <button type="submit" name="status" value="In progress" class="btn btn-warning">In progress</button>
    <button type="submit" name="status" value="Done" class="btn btn-success">Done</button>
</form>

@* Display Comments *@
@foreach (var comm in ViewBag.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div>
                    <p>@comm.Text</p>
                    <small>@comm.Date</small>
                </div>
                <br>
                @if (comm.IsCurrentUserComment)
                {
                    <div class="d-flex">
                        <div>
                            <a class="btn btn-outline-primary" asp-controller="Comments" asp-action="Edit" asp-route-id="@comm.Id">
                                <i class="bi bi-pencil-square"></i>Edit
                            </a>
                        </div>
                        <div>
                            <form method="post" asp-controller="Comments" asp-action="Delete" asp-route-id="@comm.Id">
                                <button class="btn btn-outline-danger" type="submit">
                                    <i class="bi bi-trash"></i>Delete
                                </button>
                            </form>
                        </div>
                    </div>
                }
                <br />
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
}

@*Add Comments*@
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <form method="post" asp-controller="Comments" asp-action="New">
                    <div class="card-body">
                        <input type="hidden" name="TaskId" value="@Model.Id" />
                        <br />
                        <textarea class="form-control" name="Text"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                        <br />
                        <button class="btn btn-success" type="submit">Add comment</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<br />

<a class="btn btn-primary mt-3" asp-controller="Tasks" asp-action="Index" asp-route-projectId="@Model.ProjectId">Back to Project</a>
